 <p id="notice"><%= notice %></p>

<h1>Listing Doctors Category</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctor_categories.each do |doctor_category| %>
      <tr>
      <td><%=doctor_category.name %></td>
      
     

        <td><%= link_to 'Show', doctor_category %></td>
        <td><%= link_to 'Edit', edit_doctor_category_path(doctor_category) %></td>
        <td><%= link_to 'Destroy', doctor_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor Category', new_doctor_category_path %>
