<%= form_for(@doctor) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control required' %>
  </div>

  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_field :experience, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_area :about_me, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :hospital_name %><br>
    <%= f.text_field :hospital_name, class: 'form-control required' %>
  </div>

  <div class="field">
    <%= f.label :hospital_address %><br>
    <%= f.text_area :hospital_address, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :hospital_landmark %><br>
    <%= f.text_field :hospital_landmark, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :hospital_phone %><br>
    <%= f.text_field :hospital_phone, class: 'form-control' %>
  </div>


  <div class="field" >
    <%= f.label :state %><br>
    <%= f.collection_select :state, CS.states(:in),:first, :last, class: 'form-control', :prompt => '--Select a State--'%>
  </div>

  <div class="field" id='sel-state-cities' style="<%=@display%>">
    <% if @cities %>
      <%= f.label :city %><br>
      <%= f.select :city, @cities, class: 'form-control'%>
    <% end %>
  </div>


    <%= f.fields_for :documents do |builder| %>
    <% if builder.object.new_record? %>
      <%= builder.label :avatar, "Add Documents" %><br />
      <%= builder.file_field :avatar%>
    <% end %>
  <% end %> 

  <div class="actions">
    <%= button_tag "Update", :class => 'button right', :id => 'update_doctor'%>
  </div>
  
<% end %>

<script type="text/javascript">
  $(document).ready(function(){ 
    $("#doctor_state").click(function()
      {
        var state1 = $('#doctor_state').val();
        $.ajax({
          method: "GET",
          url: "http://localhost:3000/cities/",
          data: { state:state1 }
        })

        .done(function( cities ) {
          var cityElm=$("#sel-state-cities")
          var optValues=""
          cityElm.css("display","block")

          for (i = 0; i < cities.length; i++) { 
            optValues += "<option>" + cities[i] + "</option>";
          }
          cityElm.html("<select name=doctor[city]>" + optValues+ "</select>")  
        });
      } 
    );


  });
    
</script>
