
<div class="container">
 <h2>Doctor Details</h2>
	  <ul class="list-group">
	    <li class="list-group-item"><span class="badge"></span> 
	    <%= link_to doctor.name.capitalize %><br />
	    <%= "#{doctor.experience} years of experience"%><br />
	    <%= "Working at #{doctor.hospital_name}" %><br />
	    </li>
	  </ul>
  <% end %>
</div>



<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>